
/************************

          GENERAL

************************/
body{
  background-color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

.hide{
  display: none;
}

li{
  display: inline-block;
}

/************************

          HEADER

************************/
div p.title{
  font-size: 5em;
  font-weight: 800;
  margin: 0 auto;
}

/************************

       QUESTION BOX

************************/
section.question-box{
  border: gray dashed 4px;
  height: 800px;
  margin-left: 15%;
  margin-right: 15%;
  background-color: black;
  opacity: 0.6;
  display: flex;
  align-items: center;
  justify-content: center
}

section.question-box p{
  margin: 0 
  font-size: 12px;
}

.answers{
  border: black solid 2px;
  padding: 2px;
}

.answers:hover{
  background-color: gray; 
}
/************************

          IMAGES

************************/