
/************************

          GENERAL

************************/
body{
  background-color: #081b29;
  font-family: 'Muli', sans-serif;
  font-size: 16px;
  color: white;
}

/*SNL logo in background*/
.logo{
  position: fixed;
  top: 0;
  right: 0;
}

/*Class used to manipulate DOM*/
.hide{
  display: none;
}

/************************

       QUESTION BOX

************************/
.question-box{
  border: gray solid 4px;
  height: 500px;
  padding: 50px;
  margin: 7% 25% 5% 25%;
  background-color: black;
  opacity: 0.6;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.question-box p{
  margin: 0 
  font-size: 12px;
}

.main-content{
  position: absolute;
  right: 50px;
  top: 35%;
  max-width: 30%;
}

.question{
  font-size: 20px;
  font-weight: bold;
}

.title{
  font-family: 'Roboto', sans-serif;
  font-weight: 800;
  margin: 0 auto;
  font-size: 5em;  
  text-align: center top;
  color: white;
  max-width: 50%;
  position: absolute;
  left: 50px;
  top: 35%;
}

.answers{
  border: black solid 2px;
}

.answers:hover{
  background-color: gray; 
}

#start-button:hover{
  background-color: gray;
}

#reset-button:hover{
  background-color: gray;
}